# -----------------------------
# KiCad
# -----------------------------
*.bak
*-bak
*.tmp
*.lck
*.autosave
*.kicad_prl

# -----------------------------
# Operating System
# -----------------------------
Thumbs.db
.DS_Store

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Python
# -----------------------------
__pycache__/
# KiCad local history
.history/

# KiCad backups
AquaSense-backups/